<% if @projects.any? %>
<h3>Current Projects:</h3>
<ul>
  <% @projects.each do |project| %>
  <li><a href="/home/admin/<%=project.id%>/volunteer"><%=project.title%></a></li>
  <% end %>
</ul>
<% else %>
<h3>There are currently no projects to display, don't fret! I'm sure a project coordinator will add one soon.</h3>
<% end %>

<a href="/home/admin/new">Add a Project</a>
<br>
<a href="/home">Go Back to Home</a>
