<form action="/home/admin/<%=@project.id%>/volunteer" method="post">
  <input type="hidden" name="_method" value="patch">

<label for="proj_title"></label>
<input type="text" name="proj_title">
<br>
<button type="submit" name="button">Edit Project</button>
</form>
