<div class="greeting">
  <h2>Welcome to VolunTeamwork, a place for those looking to work with friends,<i> or make friends while you work</i>, while helping out those in your community.</h2>
</div>
<br><br><br>
<h3>How may we help you today?</h3>
<div class="box_holder">

  <a href="/home/projects">
<div class="big_button col-sm-4 volunteers">
  <label><span>Browse Current Projects</span></label>
</div>
</a>
<div class="search_panel col-sm-4">
  <form action="/home/search" method="get">
    <label for="searched">Search for a Specific Project</label><br>
    <input type="text" name="searched">
    <br><br>
    <button type="submit" name="button">Search</button>
  </form>
</div>
<a href="/home/admin">
<div class="big_button col-sm-4 projects">
  <label><span>Project Coordinator? Click here to view project info</span></label>
</div>
</a>
</div>
