<h2>Welcome to VolunTeamwork, a place for those looking to work with friends, or make friends while you work, while helping out those in your community.</h2>
<hr>
<br><br><br>
<h4>How may we help you today?</h4>
<div class="box_holder">

  <a href="/home/projects">
<div class="big_button col-sm-4">
  <label><span>Browse Current Projects</span></label>
</div>
</a>
<div class="big_button col-sm-4">
  <span>Search for a Specific Project</span>
</div>
<a href="/home/admin">
<div class="big_button col-sm-4">
  <label><span>Project Coordinator? Click here to view project info</span></label>
</div>
</a>
</div>
